{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/styles.css') }}">
{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div id="app-hook"></div>
        <div id="app-user-edit"></div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        window.initData = {
            user: "{{ user_data|e('js') }}"
        };
    </script>
    <script src="{{ asset('public/built.js') }}"></script>
{% endblock %}

{% block _templates %}
    {% include '_templates/user/show.html.twig' %}
    {% include '_templates/user/edit.html.twig' %}
{% endblock %}

