.user-info {

  box-shadow: 
      0 0 1px 1px $block-shadow-color-1,
      0 0 1px 1px $block-shadow-color-2,
      0 0 1px 1px $block-shadow-color-3;
  //border-radius: 1px;
  &__short {
    padding-top: 10px;
    padding-left: 14px;
    font-family: $short-info-font-family;
    font-size: 16px;
    padding-bottom: 42px;
  }

  &__details {
    padding-left: 40px;
  }

  &__contacts {
    text-align: right;
    padding-top: 22px;
  }
  &__about {
    padding-left: 38px;
    padding-top: 22px;
  }
}