<section class="col-lg-7 col-md-7 col-sm-6 col-xs-7 user-info__details">
    <div class="row user-info">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-7 user-info__contacts">
            <div><%- siteUrl %></div>
            <div><%- userPhone %></div>
            <div>Skill <%- userSkill %></div>
            <div><%= _.upperFirst(userGender) %></div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-7 user-info__about">
            <div><%- userAbout %></div>
        </div>
    </div>
</section>
